.error_container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text_error_container {
  margin-bottom: 190px;
}
.error_text {
  font-size: 288px;
  color: #ff6060;
  font-weight: 700;
  margin: 0 0 5% 0;
}
.msg_error {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
}
.link_error {
  font-size: 18px;
  text-decoration: underline;
  color: #ff6060;
}
@media screen and (max-width: 768px) {
  .error_text {
    font-size: 150px;
  }
  .msg_error {
    font-size: 18px;
    width: 57%;
  }
}
