.carousel_wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.carousel_container {
  width: 100%;
  position: relative;
  display: inline-block;
}
.img_carousel {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.indexation_img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slide {
  position: relative;
  transform: translateY(-191%);
  margin: 2%;
}

.index_img {
  color: white;
  font-size: 18px;
  position: absolute;
  font-weight: 500;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .img_carousel {
    height: 250px;
    border-radius: 10px;
  }
  .slide {
    transform: translateY(-506%);
    height: 19px;
    padding: 0;
    margin: 3%;
  }
  .index_img {
    display: none;
  }
}
