.banner_container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.banner {
  display: flex;
  text-align: center;
  width: 100%;
  height: 223px;
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 25px;
  object-fit: cover;
}

.text_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  display: flex;
}

@media screen and (max-width: 720px) {
  .banner_home {
    height: 111px;
  }
  .banner_about {
    height: 223px;
    margin-bottom: 4%;
  }
  .banner {
    height: 100%;
    border-radius: 10px;
    margin-top: 4%;
  }
  .text_banner {
    font-size: 20px;
  }
}
