.error_container {
  margin: 10% auto;
}
.text_error_container {
  margin-bottom: 20%;
}
.error_text {
  font-size: 288px;
  font-weight: 700;
  margin: 0 0 4% 0;
}
.msg_error {
  font-size: 36px;
  font-weight: 500;
}
.link_error {
  font-size: 18px;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .error_text {
    font-size: 150px;
  }
  .msg_error {
    font-size: 18px;
    width: 57%;
  }
}
